<template>
  <ProgressCircular/>
    <v-app>
      <v-app-bar color="primary" dark>
        <v-toolbar-title>Select Account</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn @click="logout">Logout</v-btn>
      </v-app-bar>
  
      <v-main>
        <v-container fluid>
          <v-row>
            <v-col cols="12" sm="6" md="4" v-for="account in accounts" :key="account.accountID">
              <v-card>
                <v-card-title>
                  {{ account.accountName }} - {{ account.bankName }}
                </v-card-title>
                <v-card-text>
                  <div>Account Number: {{ account.accountNumber }}</div>
                  <div>Balance: {{ formatCurrency(account.remain)  }}</div>
                </v-card-text>
                <v-card-actions>
                  <v-btn color="primary" @click="selectAccount(account)">Select</v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-main>
    </v-app>
  </template>
  
  
  
<script setup lang="ts">
import { onMounted, ref } from 'vue';
import { useAuthenticationStore } from "../login/dataprovider/authenticationStore";
import { useTransactionStore } from "../transaction/dataprovider/transactionStore";
import ProgressCircular from '../../components/ProgressCircular.vue'

const authenticationStore = useAuthenticationStore();
const transactionStore = useTransactionStore();
// Mock data สำหรับบัญชี
const accounts = ref<AccountResponse[]>([]);
function logout() {
  authenticationStore.logout()
}

onMounted(async () => {
    await transactionStore.getTransactions();
     accounts.value = transactionStore.accountResults;
});

function selectAccount(account: AccountResponse) {
    transactionStore.selectAccount(account);
}

function formatCurrency(value:number) {
  return new Intl.NumberFormat('en-US', { style: 'decimal', minimumFractionDigits: 2 }).format(value);
}
</script>
    