<template>
  <ProgressCircular/>
  <v-container>
    <v-row justify="center">
      <v-col cols="12" sm="8" md="4">
        <v-card class="elevation-12">
          <v-toolbar color="primary" dark flat>
            <v-toolbar-title>Login</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <v-form ref="formRef">
              <v-text-field
                label="Username"
                name="username"
                prepend-icon="mdi-account"
                type="text"
                :rules="[v => !!v || 'Username is required']"
                :error="authenticationStore.loginError"
                v-model="authenticationStore.login.username"
              ></v-text-field>
              <v-text-field
                id="password"
                label="Password"
                name="password"
                prepend-icon="mdi-lock"
                type="password"
                v-model="authenticationStore.login.password"
                :rules="[v => !!v || 'Password is required']"
                :error="authenticationStore.loginError"
                :error-messages="authenticationStore.errorMessage"
              ></v-text-field>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary"  @click="submit">Login</v-btn>
              </v-card-actions>
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup lang="ts">
import { onMounted, reactive, ref } from "vue";
import { useAuthenticationStore } from "../login/dataprovider/authenticationStore";
import ProgressCircular from '../../components/ProgressCircular.vue'
const authenticationStore = useAuthenticationStore();
const valid = ref(false);
const formRef = ref();

async function submit() {
  const formResult = await formRef.value.validate();
  const valid = formResult.valid;
  if (valid) {
    authenticationStore.submit();
  }
}
</script>
