<template>
  <v-dialog :class="{ 'shake-animation': invalid }" v-model="transactionStore.depositPopupToggle" persistent
    max-width="600px">
    <v-card>
      <v-card-title>Deposit Money</v-card-title>
      <v-card-text>
        <v-form ref="formRef">
          <v-text-field :rules="[
            v => !!v || 'Amount is required',
            v => !isNaN(parseFloat(v)) && isFinite(v) || 'Must be a number',
            v => parseFloat(v) >= 0 || 'Cannot be negative']" :error-messages="errorMessage" v-model="amount"
            label="Amount" :error="isError">
          </v-text-field>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" @click="close">Cancel</v-btn>
        <v-btn color="blue darken-1" @click="submit">Deposit</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

  
<script setup lang="ts">
import { onMounted, ref, watch } from 'vue';
import { useTransactionStore } from "../modules/transaction/dataprovider/transactionStore";
import transaction from '../services/transaction';
import ProgressCircular from '../components/ProgressCircular.vue'

const transactionStore = useTransactionStore();
const invalid = ref(false);
const amount = ref<number | null>(null);
const formRef = ref();
const isError = ref(false);
const errorMessage = ref('');

function close() {
  transactionStore.depositPopupToggle = false;
}

function resetData() {
  transactionStore.depositPopupToggle = false;
  isError.value = false;
  errorMessage.value = "";
  amount.value = null,
    transactionStore.tab = 2;
}

function errorAlertMessage(message: string) {
  invalid.value = true;
  isError.value = true;
  errorMessage.value = message;
  setTimeout(() => invalid.value = false, 500);
}
async function submit() {
  try {
    const formResult = await formRef.value.validate();
    const valid = formResult.valid;
    if (valid) {
      const result = await transaction.deposit(amount.value as number)
      const isValid = result.data.data;
      if (isValid) {
        await transactionStore.getTransactions();
        resetData();
      } else {
        var message = result.data.message;
        errorAlertMessage(message);
      }
    }
  } catch {

  }
}

onMounted(async () => {
});

</script>

<style scoped>
@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.shake-animation {
  animation: shake 0.5s ease-in-out;
}
</style>
  