<template>
  <v-dialog :class="{ 'shake-animation': invalid }" v-model="transactionStore.transferPopupToggle" persistent
    max-width="600px">
    <v-card>
      <v-card-title>Transfer Money</v-card-title>
      <v-card-text>
        <v-form ref="formRef">
          <v-select :rules="[v => !!v || 'Bank is required']" :items="transactionStore.bankResults" item-title="name"
            :error="isError" item-value="bankID" label="Select Receiver Bank" v-model="data.receiverBankID">
          </v-select>
          <v-text-field
            :rules="[v => !!v || 'Account number is required', v => !isNaN(parseFloat(v)) && isFinite(v) || 'Must be a number']"
            :error="isError" label="To Account Number" v-model="data.toAccountNumber">
          </v-text-field>
          <v-text-field :rules="[
    v => !!v || 'Amount is required',
    v => !isNaN(parseFloat(v)) && isFinite(v) || 'Must be a number',
    v => parseFloat(v) >= 0 || 'Cannot be negative']" :error="isError" :error-messages="errorMessage" label="Amount"
            v-model="data.amount">
          </v-text-field>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" @click="close">Cancel</v-btn>
        <v-btn color="blue darken-1" @click="submitTransfer">Transfer</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>


<script setup lang="ts">
import { onMounted, ref, watch } from 'vue';
import { useTransactionStore } from "../modules/transaction/dataprovider/transactionStore";
import transaction from '../services/transaction';
const transactionStore = useTransactionStore();
const formRef = ref();
const invalid = ref(false);
const isError = ref(false);
const errorMessage = ref('');

const data = ref<TransferRequest>({
  receiverBankID: null,
  amount: null,
  toAccountNumber: null
});

function close() {
  transactionStore.transferPopupToggle = false;
}

function resetData() {
  transactionStore.transferPopupToggle = false;
  data.value.amount = null,
  data.value.toAccountNumber = null;
  data.value.receiverBankID = null,
  isError.value = false;
  errorMessage.value = "";
  transactionStore.tab = 0;
}

function errorAlertMessage(message: string) {
  invalid.value = true;
  isError.value = true;
  errorMessage.value = message;
  setTimeout(() => invalid.value = false, 500);
}
async function submitTransfer() {
  const formResult = await formRef.value.validate();
  const valid = formResult.valid;

  try {
    if (valid) {
      var payload: TransferRequest = {
        receiverBankID: data.value.receiverBankID,
        amount: data.value.amount,
        toAccountNumber: data.value.toAccountNumber
      }
      const result = await transaction.transfer(payload)
      const isValid = result.data.data;
      if (isValid) {
        await transactionStore.getTransactions();
        resetData();
      } else {
        var message = result.data.message;
        errorAlertMessage(message);
      }
    }
  } catch (error) {
    console.log(error)
  }
}

onMounted(async () => {
});

</script>

<style scoped>
@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.shake-animation {
  animation: shake 0.5s ease-in-out;
}
</style>